<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>个人中心</title>

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css" />
	<link rel="stylesheet" href="/static/css/custom.css">
	<link rel="stylesheet" href="/static/css/buttonStyle.css">
	<link href="/static/css/mystyle.css" type="text/css" rel="stylesheet" media="all">

</head>
<body>

<div class="topbar">
    <div class="wraper">
        <a href="/" class="logo"></a>
        <div class="nav">
            <ul class="parent">
                <li><a href="{% url 'main_platform:index' %}">首页</a><span class="lines"></span></li><!--跳转到首页-->
                <li><a href="{% url 'main_platform:question_list' %}">错题整理</a><span class="lines"></span></li><!--跳转到错题整理页面-->
                <li><a href="/">单词速记</a><span class="lines"></span></li><!--跳转到单词页面-->
                <li><a href="/">时事热点</a><span class="lines"></span></li><!--跳转到时事页面-->
                <li><a href="/">自动组卷</a><span class="lines"></span></li><!--跳转到组卷页面-->

                {% if request.user.is_authenticated %}
                    <li>
                    <a href="##" title="个人中心"><i class="glyphicon glyphicon-user"></i>{{ request.user.username }}<span class="lines"></span></a>
                    <!--跳转到个人信息页面-->
                    </li>
                    <li><a href="##"><i class="glyphicon glyphicon-off" style="padding-right: 7px;top: 1.5px;"></i>注销</a></li><!--登出用户-->
            	{% else %}
         		    <li><button type="button" class="btn btn-primary btn-lg general-title" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-log-in" style="padding-right: 7px;top: 1.5px;"></i>登陆</button><span class="lines"></span></li><!--跳转到登录页面-->
                    <li><a href="{% url 'register' %}"><i class="glyphicon glyphicon-registration-mark" style="padding-right: 5px;top: 2px;"></i>注册</a><span class="lines"></span></li><!--跳转到注册页面-->
               	{% endif %}
            </ul>
        </div>
    </div>
</div>




<div class="userCenter-wraper">
	<div class="userCenter_box">
	  	<div class="userCenter" id="userCenter" style="padding-bottom: 70px;">
	  		<div class="userCenter_logo"><img src="/static/img/login_logo.png" /></div>
	      	<div class="userCenter_name">
	           	<p>个人中心</p>
	      	</div>
	  		<ul class="tab-navs">
    			<li class="tab-nav"><a href="/userCenter/">基本资料</a></li>
    			<li class="tab-nav active"><a href="/passwordChange/">账号和密码</a></li>
			</ul>
	      	<div class="userCenter-warning-box">
	      		<p class="userCenter-warning" v-text="userCenter_error"></p><!-- 提示错误信息 -->
	      	</div>
	      	<form  id="userCenter-form">
	      		<dl class="userCenter-item">
	      		    <dt class="general-title userCenter-item-tit">用户名:</dt>
	      		    <dd class="userCenter-item-ct">
	          			<input name="username" type="text" value={{ user.username }} maxlength="50" disabled>	
	      		    </dd>
	      		</dl>
	      		<dl class="userCenter-item">
	      		    <dt class="general-title userCenter-item-tit">邮箱:</dt>
	      		    <dd class="userCenter-item-ct">
	          			<input name="email" type="text" value={{ user.email }} maxlength="50" disabled>	
	      		    </dd>
	      		</dl>
	      		<dl class="userCenter-item">
	      		    <dt class="general-title userCenter-item-tit">密码:</dt>
	      		    <dd class="userCenter-item-ct">
	          			<button type="button" class="rkmd-btn btn-white ripple-effect ripple-dark"  data-toggle="modal" data-target="#password-modal">修改密码</button>
	      		    </dd>
	      		</dl>
	      	</form>
	  	</div>
	</div>
</div>


<div class="modal fade" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document" style="margin-top: 100px;">

		<div class="passwordChange_box">
		  	<div class="login" id="passwordChange">
		      	<div class="login_logo"><img src="/static/img/login_logo.png" /></div>
		      	<div class="login_name">
		           	<p>修改密码</p>
		      	</div>
		      	<div class="login-warning-box">
		      		<p class="login-warning" v-text="passwordChange_error"></p><!-- 提示错误信息，如密码错误 -->
		      	</div>
		      	<form method="post" id="passwordChange-form">
		          	<input name="previousPassword" type="text" v-model="previousPassword" id="previousPassword" placeholder="原密码">
		          	<input name="newPassword1" type="password" v-model="newPassword1" id="newPassword1" placeholder="新密码">
		          	<input name="newPassword2" type="password" v-model="newPassword2" id="newPassword2" v-on:blur="judgeequal" placeholder="重复新密码">
		          	<input value="提交" v-on:click="saveNewPassword" style="width:100%;" type="button">
		      	</form>
		  	</div>
		</div>

	</div>
</div>


			


    <script src="/static/js/jquery.min.js"></script>

    <script src="/static/js/bootstrap.min.js"></script> 
    <script src="/static/js/vue.min.js"></script>

	<script src="/static/js/custom.js"></script>

	<script type="text/javascript">
		var vm_passwordChange = new Vue({
	        el: '#passwordChange',
	        data: {
	        	previousPassword:'',
	        	newPassword1:'',
	        	newPassword2:'',
	        	passwordChange_error:''
	        },
	        methods: {
	        	judgeequal:function () {
	        		if (this.newPassword1 !== this.newPassword2) {
	                    this.passwordChange_error = "两次密码不一致";
	                    return;
	                }
	        	},
	            saveNewPassword: function() {
	            	if (!this.previousPassword.trim()) {
	                    this.passwordChange_error = "请输入原密码";
	                    return;
	                }
	                else if (!this.newPassword1.trim()) {
	                    this.passwordChange_error = "请输入新密码";
	                    return;
	                }
	                else if (!this.newPassword2.trim()) {
	                    this.passwordChange_error = "请再次输入新密码";
	                    return;
	                }
	            	else if (this.newPassword1 !== this.newPassword2) {
	                    this.passwordChange_error = "两次密码不一致";
	                    return;
	                }
					else if (this.newPassword1.length < 6){
						this.passwordChange_error = "密码长度需大于6位";
						return;
					}
					else{
						
		            	$.ajax({
			                cache: false,
			                type: "POST",
			                url:"/passwordChange/",
			                data:$('#passwordChange-form').serialize(),
			                dateType:"json",
			                async: true,
			                success: function(data) {
			                    if(data.status == 'success'){
			                    	alert('密码修改成功！');
			                        window.location.href = '/';//跳转到首页
			                    }else if(data.status == 'fail'){
			                        vm_passwordChange.passwordChange_error = data.msg;
			                    }
			                },
			            });
					}
	            }
	        }
    	});
	</script>

</body>
</html>